@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
:root {
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
    /* new colors */
  --newwhite:#D2D79F;
  --newdark:#483838 ;
  --newlightgreen:#90B77D;
  --newdarkgreen:#42855B;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  color: var(--newdarkgreen);
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}


nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
 
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--newlightgreen);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--newdarkgreen);
  color: var(--newdark);
  padding-left: 1.5rem;
} 

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-links {
  height: 13rem;
}

.nav-header h2{
    margin-left: 1.2rem;
}
/* end of navbar */


.book-section{
    background: url('../images/southgate.jpg');
    background-color:rgba(0,0,0,0.1);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;  
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%; 
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;

}
.form-container{
  margin-top:0;
  padding-top: 0;
  position: relative;
  bottom: 4rem;
}
 /* .form-container{
    margin-top: 2rem;
    margin: 0 6rem;
    padding: 1rem 0;
    background-color: rgba(240, 240, 240, 0.8);
    border-radius: 2rem;
    box-shadow: var(--dark-shadow);
     animation-name: fadeintitle;
    animation-duration: 2.2s; 
}  */







/* KEYFRAMES */
  @keyframes fadeintitle {
    from{
    opacity: .1; 
    margin-top: 5rem;
    }
    to{
    opacity: 1;
    margin-top:0;
 
    }
}  

/* end of keyframes */




/* FOOTER ***************/
footer{
    background-color: #c9c8c3;
    position:relative;
    width:100%;
    height:47vh;
    padding-top: 3rem;
    font-family: 'Rajdhani', sans-serif;
    color:var(--newdark);
    overflow-x:hidden ;
}
#text-footer{
    text-align: center;
    font-family: 'Rubik';
    display: relative;
    padding-top:4rem;
    font-size:1.1rem;
    color:gray;
}
footer .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}
footer .footer .ft h4{
    font-size: 1.2rem;
    color:var(--newdark);
}
footer .footer .ft h3{
    font-size: 1rem;
}
footer .footer .ft input{
    padding:.2rem;
    border:#c9c8c3;
}
/************** icons hover *********/
.fa-facebook-f:hover{
    color:#1877f2;
}
.fa-twitter:hover{
    color:dodgerblue;
}
.fa-instagram:hover{
    color:orangered;
}
.fa-envelope-open:hover{
    color:rgb(158, 60, 60);
}
.fa-youtube:hover{
    color:red;
}



/* ************************************** */
/* ********************************************************** */
.form-container{
  width: 100%;
  color:black;
  
}
.form-container form{
  display: grid;
  place-items: center; 
  /* grid-template-rows: 2fr; */
  margin-bottom: 1rem;
  background-color: rgba(0,0,0,0.5);
}

.form-container form button{
  padding:.8rem 1.2rem;
  margin-top: .7rem;
  background-color: var(--newdarkgreen);
  color:var(--newwhite);
  border:none;
  border-radius:.2rem;
}
.form-container form label{
  color:white;
  font-weight: bold;
  display: flex;
  text-shadow: 1px 1px 2px var(--newlightgreen);
}
.form-container form button:hover{
  background-color: white;
  color:var(--newdarkgreen); 
  outline:1px solid var(--newdarkgreen);
}
.arrival{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.departure{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.room{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.guest{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.email{
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.form-container form select,input{
  padding:.5rem 2rem;
}
.form-item{
  padding:1rem 0;
}
.book-section{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  padding-top: 5rem;
}

.title h1{
  text-align: center;
  color:white;
  padding:2rem 1rem;
  font-size: 1.9rem;
  text-shadow: 2px 2px 2px var(--newlightgreen);
}

/* right gallery  */

/* feature room */

.presidential-room img{
  max-width: 100%;
  object-fit: cover;
  position: relative;

}
.presidential-room{
  background-color: rgba(230, 245, 234,0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 17px 0 rgba(0, 0, 0, 0.15);
  margin-top: 1rem;
  position: relative;  
  padding-bottom: 2rem;
  border-radius: .3rem;
  
}

.presidential-room .abso{
  position: absolute;
  color:white; 
  bottom:11rem;
  padding: 1rem;
  margin: 2rem .5rem;
  font-size: .9rem;
  font-weight: 100;
}
.featured-room{
  position: relative;
  bottom: 5rem;
}
.featured-room .title h1{
  font-size: 1.5rem;
  font-weight: 700;
}

.text-inner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding:.9rem 1rem;
}
.text-inner h2{
  margin-left: .8rem;
  margin-bottom: .5rem;
}
.text-inner p{
  color:var(--newdark);
  text-align: justify;
  margin-left: .8rem;
}

.text-inner button{
  margin-top: 1.1rem;
  padding:.8rem;
  background-color: var(--newdarkgreen);
  color:var(--newwhite);
  border:none;
  margin-left: .8rem;
}
.text-inner button:hover{
  background-color: white;
  color:var(--newdarkgreen); 
  outline:1px solid var(--newdarkgreen);
}











































@media screen and (min-width: 800px) {
    .nav-center {
      max-width: 1170px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
    }
    .links {
      height: auto;
      display: flex;
    }
    .links a {
      padding: 0;
      margin: 0 0.5rem;
    }
    .links a:hover {
      padding: 0;
      background: transparent;
    }

  }
  
  @media (max-width:500px) {
      .nav-header h2{
          margin-left: 0;
      }
      
  }
  
  
  
  
  
  
  @media (max-width:991px) {
     footer{
      padding:1rem;
      height: 30rem;
  }
  footer .footer{
      flex-direction: column;
      align-items: center;
      gap:2rem;
      text-align: center;
      line-height: 1.5rem;
  }
 

  .featured-room{
    position: relative;
    bottom: 1rem;
  }
  .form-container{
    margin-top:0;
    padding-top: 0;
    position: relative;
    bottom: 1rem;
  }
    }




@media (min-width:800px){
      .book-section{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap:1.3rem;
      }
      .form-container form{
          margin:0 2rem;
          border-radius: 1rem;
          position: relative;
          left:5rem;
          width:70%;
          
      }
      .presidential-room{
          margin:5rem 4rem;
          width: 70%;
          position: relative;
          left:3rem;
      }
      .form-container{
          margin-top: 2.4rem;
      }
    
  
  }